@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
    font-weight: normal;
}



:root {
    --cor00: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --font-padrao:Arial, Verdana, Helvetica, sans-serif; 
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor00);
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor03 ), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 0px;
          
}

header h1 {
    font-family: var(--font-destaque);
    font-size: 3em;
    color: white;
    margin-bottom: 0px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.405);
  
}

header p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.605);
    
}

nav {
    background-color: var(--cor05);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.645);
    padding: 10px;
    
}

nav a {    
    text-decoration: none;
    color: var(--cor02);
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    transition-duration: 1s;
    border-radius: 5px;
    
}

nav a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
        
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

   }

main h1 {
    font-family: var(--font-android);
    margin: 10px;

}

main h2 {
    font-family: var(--font-android);
    margin: 10px;
}

main p {
    padding: 10px;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 30px;
    
}

.imagem {
    text-align: center;
}

div.video {
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor01);
    margin-top: 5px;
    padding: 10px;  
    border-radius: 10px;
}