@charset "UTF8";

body{
    background-color: rgb(202, 247, 201);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(0, 255, 17);
}
#principal{
    background-color:rgb(0, 255, 17);
    color: white;
    text-align: center;
}
h2{
    color: rgb(53, 174, 158);
}
.basico{
    color: rgb(141, 59, 218);
}

.intermediario{
    color: brown;
}

.destaque{
    background-color: antiquewhite;
}